.hearts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -10;
    background: pink;
}

.hearts li {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 20pt;
    opacity: 0.2;
    animation: animate 25s linear infinite;
    bottom: -10rem;
}

.hearts li:nth-child(1) {
    left: 25%;
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
    animation-delay: 0s;
}

.hearts li:nth-child(2) {
    left: 10%;
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    animation-delay: 2s;
    animation-duration: 12s;
}

.hearts li:nth-child(3) {
    left: 70%;
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    animation-delay: 4s;
}

.hearts li:nth-child(4) {
    left: 40%;
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
    animation-delay: 0s;
    animation-duration: 18s;
}

.hearts li:nth-child(5) {
    left: 65%;
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    animation-delay: 0s;
}

.hearts li:nth-child(6) {
    left: 75%;
    width: 8rem;
    height: 8rem;
    font-size: 8rem;
    animation-delay: 3s;
}

.hearts li:nth-child(7) {
    left: 35%;
    width: 10rem;
    height: 10rem;
    font-size: 10rem;
    animation-delay: 7s;
}

.hearts li:nth-child(8) {
    left: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    animation-delay: 15s;
    animation-duration: 45s;
}

.hearts li:nth-child(9) {
    left: 20%;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    animation-delay: 2s;
    animation-duration: 35s;
}

.hearts li:nth-child(10) {
    left: 85%;
    width: 8rem;
    height: 8rem;
    font-size: 8rem;
    animation-delay: 0s;
    animation-duration: 11s;
}

.reloader {
    transition: all 500ms ease;
}

.reloader:hover {
    transform: rotate(-180deg);
}

.recaptchaAltText {
    margin-top: 0.5rem;
    font-size: 0.75em;
    line-height: 1em;
}

.recaptchaAltText a {
    text-decoration: underline;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-62.5rem) rotate(720deg);
        opacity: 0;
    }
}
